:host{
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.83);
    z-index: 99;
}
.modal-wrap{
    display:flex;
    justify-content: center;
    
    height: 100%;  
    margin-top: 3.5em;  
}
.booking-modal{
    min-width: 20em;
    min-height: 10em;
    align-self: center;
    background: white;
    .fa-times{
        color:black;
        cursor: pointer;
        &:hover{
            color: gray;
        }
    }
    .modal-form{
        padding-top: 1em !important;
    }
    .edit-details{
        padding: 0 1em;
        .title-detail{
            font-family: 'Roboto', sans-serif;
            font-size: 1.2em;
            font-weight: 400;
        }
    }
}
.table-number{
    margin:0;
}
.edit-btns{
    display: flex;
    .save-edited{
        margin-right: .8em;
    }
}
