
<mdb-navbar SideClass="navbar navbar-expand-lg fixed-top navbar-dark mdb-color darken-3 ie-nav" [containerInside]="true">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>Restaurant</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li [routerLinkActive]="['active']" class="nav-item waves-light" mdbWavesEffect  >
              <a class="nav-link" [routerLink]="['/home']" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item dropdown" dropdown >
             <a  class="nav-link" [routerLink]="['/menu']" activeRouter>Menu</a>
            </li>
          <li [routerLinkActive]="['active']" class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" [routerLink]="['/reservation']">Reservation</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons navbar-text" >
        
        <div *ngIf="user else login" class="log-out" >
          <span>{{user.displayName}}</span>
          <div class="avatar">
             <img class="avatar-icon" [src]="user.photoURL" alt="">  
          </div>          
          <a (click)="logOut()" >Log out</a>  
        </div>  
        <ng-template #login>            
            <div  class="log-in" >
            <a (click)="logIn()" >Log in</a>  
            </div>               
        </ng-template>
      </ul>
  </links>
</mdb-navbar>