.dropdown-menu-container{
    display: flex;
    .dropdown-toggle{
        padding-left: 0.2em;
    }
    .menu-link{
        color: white;
    }
}
.log-out, 
.log-in{
    color: white;
}
.avatar{
    padding: 0 .5em;
}
.avatar-icon{
    width: 35px;
    border-radius: 50%;
}
.log-out{
    display: flex;
    align-items: baseline;
}
