<div class="dish-container" *ngIf="dish | async as dish">
  
  <mdb-breadcrumb class="bread-crumbs">
    <mdb-breadcrumb-item class="blue-text" [routerLink]="['/menu']" >Menu</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="blue-text" [routerLink]="['/menu', routInfo.category]" >{{routInfo.category}}</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active" [routerLink]="['/menu', routInfo.category, routInfo.dishId]">{{dish.name}}</mdb-breadcrumb-item>
  </mdb-breadcrumb>

  <div  class="content">
    <div class="content__img-container">
        <app-image-loader [imgSrc]="dish.imageUrl" ></app-image-loader>
    </div>
    <div class="content-body">
      <h1 class="dish-title" >{{dish.name}}</h1> 
      <p class="dish-weight" >{{dish.weight}} г</p> 
      <p class="dish-description">{{dish.description}}</p> 
      <div class="order-dish">
        <span class="dish-price">{{dish.price}} грн</span>
        <button type="button" class="btn btn-primary">Замовити</button>
      </div>
            
    </div>

  </div>

</div>
