<ul class="categories">  
    <li class="category" [routerLinkActive]="['active-category-link']">
      <a class="category-link" [routerLink]="['/menu', 'pizza' ]" >
        <img src="/assets/images/icons/pizza.svg" alt="food icon" class="category-link__icon">
        <span class="category-title">Піца</span>
      </a>
    </li>
    
    <li class="category" [routerLinkActive]="['active-category-link']">
      <a class="category-link" [routerLink]="['/menu', 'sushi' ]" >
        <img src="/assets/images/icons/sush.svg" alt="food icon" class="category-link__icon">
        <span class="category-title">Суші</span>
      </a>
    </li>
    <li class="category" [routerLinkActive]="['active-category-link']">
      <a class="category-link" [routerLink]="['/menu', 'salat' ]" >
        <img src="/assets/images/icons/salaty.svg" alt="food icon" class="category-link__icon">
        <span class="category-title">Салати</span>
      </a>
    </li>    
    <li class="category" [routerLinkActive]="['active-category-link']">
      <a class="category-link" [routerLink]="['/menu', 'hotMeal' ]" >
        <img src="/assets/images/icons/hot_meal.svg" alt="food icon" class="category-link__icon">
        <span class="category-title">Гарячі страви</span>
      </a>
    </li>
    <li class="category" [routerLinkActive]="['active-category-link']">
      <a class="category-link" [routerLink]="['/menu', 'soup' ]" >
        <img src="/assets/images/icons/supy.svg" alt="food icon" class="category-link__icon">
        <span class="category-title">Супи</span>
      </a>
    </li>
    <li class="category" [routerLinkActive]="['active-category-link']">
      <a class="category-link" [routerLink]="['/menu', 'drings' ]" >
        <img src="/assets/images/icons/napitki.svg" alt="food icon" class="category-link__icon">
        <span class="category-title">Напої</span>
      </a>
    </li>
    <li class="category" [routerLinkActive]="['active-category-link']">
      <a class="category-link" [routerLink]="['/menu', 'dessert' ]" >
        <img src="/assets/images/icons/deserty.svg" alt="food icon" class="category-link__icon">
        <span class="category-title">Десерти</span>
      </a>
    </li>
    <li class="category" [routerLinkActive]="['active-category-link']">
      <a class="category-link" [routerLink]="['/menu', 'biznesLunch' ]" >
        <img src="/assets/images/icons/biznes-lanch.svg" alt="food icon" class="category-link__icon">
        <span class="category-title">Бізнес ланч</span>
      </a>
    </li>
  </ul>