@media screen and (max-width: 992px)
{
    .slider-img{
        height: 23em;
        object-fit: cover
    }
    .row{
        margin: 0;
    }
    .contact{
        padding-top: 0;
    }
    .contact-form{
        padding-bottom: 1em;
    }
    .section-about,
    .contact{
       padding: .8em; 
    }
}