<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="" [interval]='0'>
    <!--First slide-->
    <mdb-carousel-item class='carus-item'>
        <div class="view w-100">
            <img class="d-block w-100 slider-img" src="/assets/images/home/book-table.jpeg" alt="First slide">
            <div class="mask rgba-black-strong waves-light flex-center white-text" mdbWavesEffect>
                <div class="slider-content">
                  <p class="h1 slider-content__header">
                    Welcome to our restourant
                  </p>  
                  <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/home']" >book a table</button>
                </div>            
            </div>
        </div>
       
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100 slider-img" src="/assets/images/home/meals.jpeg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light flex-center white-text" mdbWavesEffect>
                <div class="slider-content">
                    <p class="h1 slider-content__header">
                      TASTY & DELICIOUS FOOD
                    </p>  
                    <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/menu']" >Show menu</button>
                </div>   
            </div>
        </div>
        
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100 slider-img" src="/assets/images/home/events.jpg" alt="Third slide">
            <div class="mask rgba-black-strong waves-strong flex-center white-text" mdbWavesEffect>
                <div class="slider-content">
                    <p class="h1 slider-content__header">
                      WELCOME TO OUR EVENTS
                    </p>  
                    <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/home']" >Show events</button>
                </div> 
            </div>
        </div>
       
    </mdb-carousel-item>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->

<section class="section-about row">
    <div class="section-about__content col-lg-6 col-md-12">
        <p class="h2 about-header">About us</p>
        <p class="p-about-us">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error repellendus ea earum odio ratione non explicabo, omnis ex enim vero accusamus, consectetur molestias hic adipisci eum nihil aliquid quos cum!</p>
        <p class="p-about-us">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error repellendus ea earum odio ratione non explicabo, omnis ex enim vero accusamus, consectetur molestias hic adipisci eum nihil aliquid quos cum!</p>
    </div>
    <div class=" col-lg-6 col-md-12">
        <img class="section__img" src="/assets/images/home/cook.jpg" alt="">
    </div>
    
</section>

<div class="contact-wrap">
  <h2 class="contact-header">Contact</h2>
  <section class="contact row">
    <div class="contact-column col-lg-6 col-md-12 ">
        <div class="contact-form">
            <form action="" method="post" class="contact-form">
              
              <div class="md-form">
                  <i class="fa fa-user prefix"></i>
                  <input mdbInputDirective type="text" id="contact-name" class="form-control">
                  <label for="contact-name" class="">name</label>
              </div>

              <div class="md-form">
                  <i class="fa fa-envelope prefix"></i>
                  <input mdbInputDirective type="email" id="contact-email" class="form-control">
                  <label for="contact-email" class="">E-mail</label>
              </div>
 
              <!--<textarea placeholder="Message" name="message" id="" cols="30" rows="10" class="contact-textarea"></textarea>-->
                       
              <div class="md-form">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea type="text" id="contact-textarea"
                  class="md-textarea form-control" mdbInputDirective></textarea>
                  
                  <label for="contact-textarea">Message</label>
              </div>
             
              <button class="contact-send" type="button" mdbBtn color="primary" mdbWavesEffect >Send</button>
            </form>
          </div>
    </div>
    <div class="contact-column col-lg-6 col-md-12 ">
      <div class="map">
          <img src="./assets/images/Map.png" alt="map" class="map-img">
      </div>      
    </div>
</section>


</div>




