
.slider-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    .slider-content__header{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 3em;
    }
    .btn{
        margin-top: 1em;
    }
}
.section-about{
    display: flex;
    padding: 2em;
    .section-about__content{
        .p-about-us{
            padding: .3em 0;
        }
        .about-header{
            padding: 1em 0;
            text-align: center;
        }
    }
}

.carousel-caption{
    top: 50%;
    transform:translate(0,-25%);
}
.slider-img{
    height: 42em;
    object-fit: cover;
}
.section__img{
    //max-width:100%;
    width:100%;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.map-img{
    max-width: 100%;
    margin: auto;
    display:block;
}
.row{
    margin: 0;
}

.contact{
    padding: 2em;
    .contact-column{
        padding:0 1em;
    }
}
.contact-header{
    text-align: center;
    padding: .5em 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}
.contact-send{
    width: fit-content;
}

@import './home-page.mobile.scss';
