<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="" [interval]='0'>
    <!--First slide-->
    <mdb-carousel-item class='carus-item'>
        <div class="view w-100">
            <img class="d-block w-100 slider-img" src="/assets/images/home/book-table.jpeg" alt="First slide">
            <div class="mask rgba-black-strong waves-light flex-center white-text" mdbWavesEffect>
                <div class="slider-content">
                  <p class="h1 slider-content__header">
                    Welcom to our restourant
                  </p>  
                  <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/home']" >book a table</button>
                </div>            
            </div>
        </div>
       
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100 slider-img" src="/assets/images/home/meals.jpeg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light flex-center white-text" mdbWavesEffect>
                <div class="slider-content">
                    <p class="h1 slider-content__header">
                      TASTY & DELICIOUS FOOD
                    </p>  
                    <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/menu']" >Show the menu</button>
                </div>   
            </div>
        </div>
        
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100 slider-img" src="/assets/images/home/events.jpg" alt="Third slide">
            <div class="mask rgba-black-strong waves-strong flex-center white-text" mdbWavesEffect>
                <div class="slider-content">
                    <p class="h1 slider-content__header">
                      WELCOM TO OUR EVENTS
                    </p>  
                    <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/home']" >Show the events</button>
                </div> 
            </div>
        </div>
       
    </mdb-carousel-item>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->

<section class="section row">
    <div class="section__content col-lg-6 col-md-12">
        <p class="h2">About us</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error repellendus ea earum odio ratione non explicabo, omnis ex enim vero accusamus, consectetur molestias hic adipisci eum nihil aliquid quos cum!</p>
    </div>
    <div class=" col-lg-6 col-md-12">
        <img class="section__img" src="/assets/images/home/cook.jpg" alt="">
    </div>
</section>

<div class="row">
    <div class="col-md-12">
  
      <div id="mdb-lightbox-ui"></div>
  
      <div class="mdb-lightbox no-margin galery-wrap">
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
              class="img-fluid">
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg"
              class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg"
              class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
              class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg"
              class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"
              class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(132).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg"
              class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
              class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(133).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(133).jpg"
              class="img-fluid" />
          </a>
        </figure>
  
      </div>
  
    </div>
  </div>