
.page-content{
    margin-left: 5em; 
    min-height: 100vh;  
    margin-top: 3.52em;
}
.page__food-menu{
    position:fixed;
    top: 4.3em;
    z-index: 130;
}
.footer{
    transform: translate(100vh,0)
}

@media screen and (max-width:720px){
    .page-content{
        margin-left:0em; 
        margin-top:8em;  
    }
    .page__food-menu{
        top: 3.5em;
    }
}