<div class="sorting-wrap" *ngIf="meals">
  <div class="sorting">
    <span class="sorting-header">Сортування: </span>
    <select class="select-sorting browser-default custom-select" (change)="sortMenu($event)">
        <option value=""></option>
        
        <option value="price-up">За зростанням ціни</option>
        <option value="price-down">За спаданням ціни</option>
        <option value="weight-up">За збільшенням розміру</option>
        <option value="weight-down">За зменшенням розміру</option>
        
    </select>
  </div>
    
</div>

<div class="meals-container">
    <div class="meal-item" *ngFor="let meal of meals">
      <div class="card">

        <!--Card image-->
        <div class="view overlay hm-white-slight card-img" >
            
            <app-image-loader [imgSrc]="meal.imageUrl" [routerLink]="['./',meal.id ]"></app-image-loader>
        </div>
        
         
        <!--/.Card image-->
    
        <!--Card content-->
        <div class="card-block">
            <!--Title-->
            <h2 class="card-title">{{meal.name}}</h2>
            <p class="weight">{{meal.weight}} г</p>
            <!--Text-->
            <div class="card-description">
                <p class="description">{{meal.description}}</p>
            </div>
            <p class="h5 price">{{meal.price}} grn</p>
            <div>
              <a  class="btn btn-primary order-btn">Замовити</a>
            </div>
            
        </div>
        <!--/.Card content-->
    
      </div>
    </div>
    
</div>

<nav *ngIf="meals" aria-label="Page navigation example">
  <ul class="pagination pg-blue">
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" mdbWavesEffect>Previous</a>
    </li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
    <li class="page-item active">
      <a class="page-link" mdbWavesEffect>2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
    <li class="page-item">
      <a class="page-link" mdbWavesEffect>Next</a>
    </li>
  </ul>
</nav>