<div class="meals-container">
    <div class="meal-item" *ngFor="let meal of meals ">
            <mdb-card>
                    <!--Card image-->
                    <mdb-card-img [src]="meal.img" alt="Card image cap"></mdb-card-img>
                    <!--Card content-->
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4>{{meal.name}}</h4>
                        <h6>{{meal.weight}}</h6>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text>{{meal.description}}
                      </mdb-card-text>
                      <p class="h5 price">
                          {{meal.price}} grn
                      </p>
                      <a href="#" mdbBtn color="primary" mdbWavesEffect>Order</a>
                    </mdb-card-body>
                  </mdb-card>
    </div>

</div>

<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue">
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" mdbWavesEffect>Previous</a>
    </li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
    <li class="page-item active">
      <a class="page-link" mdbWavesEffect>2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
    <li class="page-item">
      <a class="page-link" mdbWavesEffect>Next</a>
    </li>
  </ul>
</nav>